#about {
  display: grid;
  grid-area: about;
  grid-template-areas: 
  "picture"
  "name"
  "profile"
  "social";
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content min-content;
  max-width: 20rem;
  margin: 0 0 0 auto; 
}

#picture {
  border-radius: 50%;
  display: block;
  grid-area: picture;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#name{
  grid-area: name;
  margin: 0.5rem 0 0 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#profile {
  grid-area: profile;
  text-align: justify;
  text-indent:40px 
}

#social {
  grid-area: social;
  display: inline-block;
  text-align: center;
  height: 4rem;
}
#social a {
  text-decoration: none;
  height: 100%;
  display: inline-block;
  box-sizing: content-box;
}
#social a:hover {
  border-bottom: 3px solid black;
}
#social a img {
  height: 100%;
  box-sizing: border-box;
}

#github {
  padding: 10%;
}

#linkedin{
  padding: 14%;
}

#hackerrank{
  padding: 10%;
}
