#filter {
  margin-bottom: 1rem;
  text-align: center;
}

#search{
  width: 60%;
  font-size: 2rem;
  margin: auto;
  display: block;
  border-radius: .2rem;
  border: 1px solid rgba(50,50,50, 0.3);
  padding: 0.25rem 1rem;
}

#search::placeholder {
  color: grey;
}

#ascending + label:before {
  content: "Z-A"
}
#ascending:checked + label:before {
  content: "A-Z"
}