html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  position: relative;
  background: #edf1f5;
  color: #222222;
  display: grid;
  grid-template-areas: 
  "about app"
  "footer footer";
  padding: 4rem 4rem 0 4rem;
  grid-gap: 1rem;
  margin: 0;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: smaller;
  margin: 1rem 0 1rem 0;
}
