#projects {
  grid-area: projects;
}
#projects h1 {
  margin: 1rem 0 0 0;
}
#projects > div {
  background: #fafcfc;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
}
#projects > div input {
  display:none;
}
#projects > div label {
  background: #fafcfc;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  float: left;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-right: 1px solid lightgray;
}
#projects > div label:hover {
  background: #f2f3f3;
  text-decoration: underline;
}
#projects > div input:checked + label {
  text-decoration: underline;
}

.wrapper { 
  background: #edf1f5;
  border-top: 1px solid lightgray;
  box-sizing: border-box;
  display: none;
  padding: 1rem;
  white-space: nowrap;
  overflow-x: scroll;
  clear: both;
}

#softwareRadio:checked ~ #software,
#gamesRadio:checked ~ #games,
#websitesRadio:checked ~ #websites,
#blenderRadio:checked ~ #blender 
{
  display: block;
}

.project {
  background: #fafcfc;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(49,54,68,.05);
  display: inline-grid;
  grid-template-areas: 
  "preview . title title"
  "preview . description description"
  "preview . read read"
  "caption . tags url";
  grid-template-columns: 10rem .5rem 13rem 2rem;
  grid-template-rows: 4rem 7rem 2rem 2rem;
  height: 15rem;
  margin-right: 1rem;
  overflow: hidden;
  vertical-align: top;
  width: 25.5rem;
}
.project > .preview {
  grid-area: preview;
  max-width: 100%;
  overflow: hidden;
}
.project > .title {
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  grid-area: title;
  height: 100%;
  margin: auto;
  max-width: 100%;
  padding: 0.5rem;
  vertical-align: middle;
  width: auto;
}
.project > .readmore {
  grid-area: read;
}
.project > .description {
  grid-area: description;
  white-space: normal;
  font-size: 0.8rem;
  margin: 0;
}
.project > .url {
  grid-area: url;
  text-decoration: none;
}
.project > .url > img {
  box-sizing: border-box; 
  height: 100%;
  padding: .2rem;
  width: 100%;
}
.project > .caption {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: white;
  grid-area: caption;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem .5rem;
  text-align: center;
  width: 100%;
}
.project > .tags {
  grid-area: tags;
}
.project > .tags::before {
  content: " ";
  background: black;
  height: 1rem;
  width: 100%;
}
.project > .tags > div {
  display: inline-block;
}