#about {
  white-space: nowrap;
  text-align: center;
}

#picture {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 15rem;
  width: 15rem;
}

#name {
  margin: 0.5rem 0 0 0;
  font-size: 2rem;
  font-weight: bold;
}

#social {
  height: 3rem;
}

#social a {
  text-decoration: none;
  height: 3rem;
  display: inline-block;
  box-sizing: content-box;
}

#social a:hover {
  border-bottom: 3px solid black;
}

#social a img {
  height: 3rem;
  box-sizing: border-box;
}

#github {
  padding: 10%;
}

#linkedin {
  padding: 14%;
}

#hackerrank {
  padding: 10%;
}

#info {
  text-align: left;
}

#links {
    
}

#copy {
  font-size: small;
}